@charset "utf-8";
/* CSS Document */

.gridarea{

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 1vw;
}

.eventsarea{
	/*width: 100%;*/
	/*max-width: 100%;*/
}

.eventbox{

	/*width: 260px;*/
	max-width: 290px;
	height: 700px;
	margin: 5px;
	/*border: 1px solid #a98700;*/
	position: relative;
	display: inline-block;
	float: left;
	font-size: 20px;
	box-shadow: 1px 1px 3px rgb(149, 104, 75);
	/*background-color: antiquewhite;
	background-image: -webkit-linear-gradient(270deg,rgba(244,241,236,1.00) 0%,rgba(236,225,220,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(244,241,236,1.00) 0%,rgba(236,225,220,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(244,241,236,1.00) 0%,rgba(236,225,220,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(244,241,236,1.00) 0%,rgba(236,225,220,1.00) 100%);*/
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
}
.eventbox:hover{
	-webkit-box-shadow: 1px 1px 5px rgba(41,22,8,1.00);
	box-shadow: 1px 1px 5px rgba(41,22,8,1.00);
	text-shadow: 1px 0px 1px rgba(243,215,195,1.00);
	border: none;
	/*margin: 5px 4px;*/
}

.eventboxin{
	/*height: 300px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	text-align: justify;
}
@media screen and (max-device-width: 799px) {
	.eventboxin{
		text-align: center;
		font-size: 16px;
	}

	.eventbox{
		max-width: 320px;
	}
}
.affot{
	/*width: 260px;*/
	/*height: 195px;*/
	max-height: 200px;
	overflow: hidden;
	position: relative;
	/*border-radius: 5px;*/
}
/*
.affot>div{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
*/
.bybtn{
	border-radius: 1px;
	
	border: 1px solid #2f2e2e;
	background-color: #dccea8;
	padding: 5px;
	width: 170px;
	margin: auto;
}
.bybtn:hover{
	/*letter-spacing: 1px;*/
	cursor: pointer;
}
.bybtntxt{
	color: #5E1808;
	text-shadow: 1px 1px 1px rgba(255,255,255,1.00);
}
.pressme{
	height: 95%;
	/*padding: 5px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.sdescr{
	font-size: 12px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
	/*text-align: justify;*/
}
.downbox{
	width: 220px;
	/*position: absolute;*/
	bottom: 25px;
	margin: 0 auto;
	
}
.aftext{
	padding: 20px;
}
.evname{
	font-size: 22px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;	
}
.evdate{
	font-size: 16px;
	width: max-content;
	padding: 5px;
	background-color: #dccea8;
	margin: auto;
	margin-bottom: 5px;
}
.age{
	width: 35px;
	text-align: center;
	color: #a13808;
	background-color: #dccea8db;
	position: absolute;
	right: 0;
	bottom: 5px;
	padding: 3px;
	z-index: 99;
}