@charset "utf-8";
/* CSS Document */
/*============ Сброс стилей =============*/
* {
	margin: 0;
}
	html, body {
		height: 100%;
	}
	/*============ Основные стили =============*/
	body {
		background: #ffffff;
		color: #222222;
		font-family: Arial, Helvetica, sans-serif;
	}
	.content, .header, .footer {
		box-sizing: border-box;
		padding: 20px;
		width: 100%;
	}
	.header, .footer {
		background: #008080;
		color: #ffffff;
	}
	.content p {
		margin: 10px 0;
		font-size: 16px;
		line-height: 1.8;
	}
	/*===================================================================================*/
	/*=============== Откомментируй любой из способов приклейки футера ==================*/
	/*===================================================================================*/
	/*============ Способ 1 - абсолютное позиционирование =============*/
	/*body {
		position: relative;
		padding-bottom: 58px;
		box-sizing: border-box;
	}
	.footer {
		position: absolute;
		bottom: 0;
		height: 58px;
	}*/
	/*============ Способ 2 - при помощи псевдоэлемента :after =============*/
	/*.content {
		min-height: calc(100% - 58px);
		margin-bottom: -58px;
	}
	.content:after {
		content: '';
		display: block;
	}
	.content:after, .footer {
		height: 58px;
	}/*
	/*============ Способ 3 - Flexbox =============*/
	body {
		display: flex;
		flex-direction: column;
	}
	.content {
		flex-grow: 1;
	}
