@charset "utf-8";
@font-face {
	font-family: 'Rubik Mono One'; /* Гарнитура шрифта */
	src: url(/fonts/RubikMonoOne-Regular.ttf) format("opentype"); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: 'Open Sans Condensed'; /* Гарнитура шрифта */
	src: url(/fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf) format("opentype"); /* Путь к файлу со шрифтом */
}

a{
	text-decoration: none;
	color: #6b4c07;
}

a:hover{
	text-decoration: underline;
	color: black;
}

/* Header */

.header{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	/*height: 300px;*/
	margin: auto;
	background-repeat: no-repeat;
	background-image: url(../img/hed.png);
	background-size: cover;	
}

.hederc{
	text-align: center;
	/*height: 100px;*/
	/*width: 1200px;*/
	/*margin: auto;*/
	/*margin-left: 40px;*/
	/*overflow: hidden;*/
}

hr{
	border: none;
	height: 1px;
	background-color: #ba892f;
}

.messarea{
	margin: auto;
	width: 800px;
}

.topspase{
	width: 100%;
	height: 50px;
}

.p_title{
	font-size: 25px;
	color: #a98700;
	border-bottom: 1px solid #a98700;
	/*width: 60%;*/
	/*! max-width: 500px; */
	overflow-x: visible;
	padding-bottom: 5px;
	/*! margin: auto; */
}

.p_trow{
	width: 850px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.hello{
	width: 200px;
}

.logo{
	display: inline-block;
	float: left;
	/*padding: 10px;*/
	margin-top: 20px;
	margin-left: 5%;
}

.header, .topline, .footer, .footer2, .partners{
	/*padding-left: 40px;*/
	/*min-width: 1240px;*/
}

.topline{
	background-color: rgba(47,46,46,1.00);
	/*height: 140px;*/
	overflow-y: hidden;
	width: 100%;
	/*margin: auto;*/
	clear: both;	/*padding-left: 40px;*/
	box-shadow: 0 5px 7px #2f2e2e99;
}

.topin{
	width: 80%;
	overflow: hidden;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#orgname{
	/*flex: 0 1 auto;*/
}

.sitename>div{
	display: flex;
	/*flex-direction: column;*/
	justify-content: flex-start;
	/*align-content: stretch;*/

	/*min-height: 100%;*/
}

.topin>div{
	display: flex;

}

.sitename{
	width: 320px;
	font-size: 18px;
	color: #e7ddcb;
	text-transform: uppercase;
	/*margin: auto;*/
	/*position: relative;*/
	/*top: 30px;*/

	display: flex;
	justify-content: flex-end;
	
}

.ubis{
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	background-color: #dccea8;
	padding: 15px;
	color: #663216;
	letter-spacing: 4px;
}

.conductor{

	width: 245px;
	font-size: 16px;
	color: #e7ddcb;
	display: flex;
	flex-direction: column;

}

.conductor > span > a, .account > span > a{

	color: white;
	transition: 0.2s;
}

.conductor a{

	text-decoration: none;
}

.conductor a:hover{

	text-decoration: underline;
	color: #d9b34d;
}

.account > span > a:hover{
	color: #EFE9DE;
	/*letter-spacing: 1px;*/
}

.tsa{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 25px;
	letter-spacing: 1px;
	color: white;
	transition: all 200ms;
}

.tsa:hover{
	letter-spacing:2px;
}



.account{
	float: right;
}

.content{
	/*width: 1200px;*/
	/*min-width: 450px;*/
	min-height: 800px;
	/*height: 100%;*/
	margin: auto;
	color: #953808;
	margin-top: 10px;
	/*padding: 40px;*/
	/*display: flex;
	justify-content:center;*/
}



/* Main */

.instapost{

	display: inline-block;
	float: left;
	width: 500px;
}

.area{
	width: 800px;
	margin: auto;
	font-size: 20px;
}

.vkcom{
	padding: 20px;
	display: inline-block;
	width: 300px;
	margin-right: 20px;
}


.eventboxl{

	font-size: 18px;
	max-width: 800px;
}

.eventsarea{

	padding: 1em;
	/*width: 100%;*/
	max-width: 1200px;
	overflow-y: hidden;
	margin: 0 auto;
	display: block;

}

.tdno{
	text-decoration: none;
	color: #694d2a;
	font-size: 20px;
}

.fbb, .vkb{


}

.share-buttons{
	display: flex;
	justify-content: space-around;
}

.clear{

	clear: both;
}

input[type="email"]{

	width: 500px;
	height: 40px;
	border: 2px solid rgba(215,181,137,1.00);
	border-radius: 5px;
	font-size: 25px;
}

input[type="submit"], input[type="file"], button[type="submit"] {

   border: 1px solid #574b19;
   background: #b59f46;
   background: -webkit-gradient(linear, left top, left bottom, from(#f5efcc), to(#b59f46));
   background: -webkit-linear-gradient(top, #f5efcc, #b59f46);
   background: -moz-linear-gradient(top, #f5efcc, #b59f46);
   background: -ms-linear-gradient(top, #f5efcc, #b59f46);
   background: -o-linear-gradient(top, #f5efcc, #b59f46);
   background-image: -ms-linear-gradient(top, #f5efcc 0%, #b59f46 100%);
   padding: 12.5px 25px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 0;
   box-shadow: rgba(255,255,255,0.4) 0 0 0, inset rgba(255,255,255,0.4) 0 0 0;
   text-shadow: #d2d499 0 1px 0;
   color: #474117;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
	width: 250px;

}

input[type="submit"]:hover, button[type="submit"]:hover, input[type="file"]:hover {
   border: 1px solid #332613;
   text-shadow: #ded8bd 0 1px 0;
   background: #e3c988;
   background: -webkit-gradient(linear, left top, left bottom, from(#fffff7), to(#e3c988));
   background: -webkit-linear-gradient(top, #fffff7, #e3c988);
   background: -moz-linear-gradient(top, #fffff7, #e3c988);
   background: -ms-linear-gradient(top, #fffff7, #e3c988);
   background: -o-linear-gradient(top, #fffff7, #e3c988);
   background-image: -ms-linear-gradient(top, #fffff7 0%, #e3c988 100%);
   color: #543e08;
}

input[type="submit"]:active , button[type="submit"]:active, input[type="file"]:active {
   text-shadow: #022b00 0 1px 0;
   border: 1px solid #331a0d;
   background: #00ff09;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e3c988));
   background: -webkit-linear-gradient(top, #ffffff, #00ff09);
   background: -moz-linear-gradient(top, #ffffff, #00ff09);
   background: -ms-linear-gradient(top, #ffffff, #00ff09);
   background: -o-linear-gradient(top, #ffffff, #00ff09);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #00ff09 100%);
   color: #f2f200;

}

.codeinput{
	width: 300px;
	height: 40px;
	border: 2px solid rgba(215,181,137,1.00);
	border-radius: 5px;
	font-size: 25px;
}

.files{
	display: flex;
	/*justify-content: space-between;*/
	/*width: 400px;*/
}

.ftiocon{
	width: 50px;
	height: 50px;
	background-size: contain;	
}

.text{
	max-width: 900px;
	/*min-width: 300px;*/
	margin: auto;
	color: black;
	font-size: 18px;
	padding: 20px;
	text-align: justify;
	/*padding-right: 100px;*/
}

div[class="text"] > a, div[class="text"] > div > a{
	/*text-decoration: none;*/
	color: black;
	transition: 200ms;
}

div[class="text"] > a:hover, div[class="text"] > div > a:hover{

	letter-spacing: 1px;
	text-shadow: 1px 1px 10px #fbd97a;
	transition: 100ms;
}

.tel{
	/*width: 50px;*/
	height: 25px;
	background-image: url(../img/tel.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	padding-left: 35px;
	display:table-cell;
	vertical-align:bottom;
	
}

.tel:hover{
	background-image: url(../img/telh.png);
}

.narea{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.nimg_block{

	width: 260px;
	height: 162px;
	overflow: hidden;
}

.nimg_block div{
	box-sizing: content-box;
	margin: 0 auto;

}

.tcol{

	font: caption;
	/*margin: auto;*/
	color: black;
	padding: 10px;

	font-size: 16px;
	text-align: justify;
}



.ntitle a{
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;

}

.ntitle a:hover{
	/*text-shadow: 1px 0px 2px #0000007d;*/
	text-decoration: underline;
}

.ndate{
	font-size: 12px;
	color: gray;
}

.vitem {
		height: 300px;
		max-height: 225px;
		box-shadow: 1px 2px 5px #000000;
		/*max-width: 300px;*/
	}

.vitem:hover{
	box-shadow: 1px 2px 7px #000000;
}


.vidarea{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	grid-gap: 2vw;
}


/* Footer */

.logorow{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.logorow{

	margin: auto;
}
.footcol > p > a{
	text-decoration: none;
	color: #babab8;
}

.partners{
	background-color: #e7ddcb;
	color: #544300;
	font-size: 25px;
	text-transform: uppercase;
	padding: 40px 0 40px;
	overflow: auto;
	width: 100%;
	margin: auto;
}

.exxonbox{
	width: 250px;
	height: 220px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	float: left;
	margin: auto;
}

.exxon{
	width: 135px;
	height: 140px;
	margin: auto auto;
	background-image: url(../img/sakhalin-logo-footer.svg);
	background-size: 280px 140px;

}

.exxon:hover{

	background-position: 135px;
}

.sakhcom{

	background-image: url(../img/sakhcom-logo.svg);
	width: 147px;
	height: 40px;
	background-size: 147px;
	margin: auto auto;
}

.astv{

	background-image: url(../img/astv.png);
	width: 147px;
	height: 53px;
	background-size: 147px;
	margin: auto auto;
}

.rmh{

	background-image: url(../img/rmh.png);
	width: 147px;
	height: 83px;
	background-size: 147px;
	margin: auto auto;
}

.gubved{

	background-image: url(../img/gv.png);
	width: 147px;
	height: 45px;
	background-size: 147px;
	margin: auto;
}

.parttitle{

	margin: auto;
	text-align: center;
	font-family: abel;
	height: 70px;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	background-color: #2f2e2e;
	color: #babab8;
	font-size: 14px;
	overflow: auto;
	width: 100%;
	clear: both;
	margin: auto;
	min-height: 200px;

}

.footcol{

	display: inline-block;
	float: left;
	padding: 30px;
	/*width: 300px;*/
}




/* Adapting block */

@media screen and (max-device-width: 399px) {

	#uscologo{
		display: none;
	}

}

@media screen and (max-device-width: 799px) {

	.text{
		font-size: 16px;
	}

	.vkcom{
		float: left;
	}

	.map{
		width: 300px;
	}

	.vitem {
		/*height: 300px;*/
		max-width: 300px;
		max-height: 150px;

	}

}

@media screen and (min-device-width: 800px) {

	.footer{
		justify-content: space-around;
	}

	.tcol {
		width: 60%;
		min-width: 290px;
	}

	.vkcom{
		float: right;
	}
	.eventboxl{
	}

}
