@charset "utf-8";
/* CSS Document */
.rcol{
	display: block;
	float: right;
	padding: 15px;
	margin: auto;
}
.rcol>img{
	margin: auto;
	width: 100%;
	height: auto;
}
.paragraph{
	/*width: 90%;*/
	/*max-width: 800px;*/
	/*min-width: 400px;*/
	margin: auto;
	color: #2f2e2e;
	font-size: 18px;
	/*font-family: PT Serif,serif;*/
	text-align: justify;
}