@charset "utf-8";
/* CSS Document */
*{
	outline: 0;
}
summary{
    font-size: 25px;
    /*font-weight: bold;*/
	cursor: pointer;
	color: #ba892f;

}
details{
	text-indent: 1em;
}
.p_title{
	color: #333366;
}

.filesarea a{
	color: #333366;
}

.flink{
	vertical-align: middle;
	text-decoration: none;
	font-size: 20px;
	margin-left: 1em;
	color: #2f2e2e;
	transition: 300ms;
	
}
.flink:hover{
	text-shadow: 1px 1px 10px #e2da45;
	color: #333366;
	/*letter-spacing: 1px;*/
	transition: 100ms;
}
.filesarea{
	max-width: 800px;
	margin: auto;
	padding: 30px;
}

.inspections{
	display: grid;
	grid-template-columns: 50px auto auto auto;
	overflow-x: scroll;
}

.p_title{
	width: auto;
}
@media (max-width: 600px) {
	
	summary{
		font-size: 18px;

	}
	
	.flink{
	font-size: 15px;
	
	
}
	
}